// Needed '!default' vars for custom theme
$theme-colors: () !default;
$font-weight-normal: 400 !default;
$font-size-base: 1rem !default;

// Color system

$white:         #FFFFFF;
$black:         #222222;
$gray-100:      #F4F5F6;
$gray-200:      #EEEEEE;
$gray-300:      #AAAAAA;
$gray-400:      #888888;
$gray-500:      #555555;
$gray-600:      #444444;


$theme-blue:          rgba(0, 113, 198, 1.0);  //#0071BD;
$theme-green:         rgba(83, 130, 53, 1.0); //#538235;
$theme-yellow:        rgba(255, 197, 0, 1.0);//#FFC500;
$theme-black:         rgba(51, 51, 51, 1.0);  //#333333;

$primary-color:     #2864FF;
$accent-color:      #FCB305;


$text-color:        #333333;
$body-color:        $white;

$danger-color:      #DA2C38;
$warning-color:     #FFA01A;
$success-color:     #00AF8C;
$info-color:        #00AAF0;

$link-color:        #4285F4;
$link-color-dark:   #0d47a1;

// Fonts

$font-family-sans-serif:    'Montserrat', sans-serif;
$font-weight-bold:          600;
$line-height-base:          2;
$h2-font-size:              $font-size-base * 1.625;
$h6-font-size:              $font-size-base * .875;
$headings-line-height:      1.175;
$display3-size:             5rem;
$lead-font-size:            ($font-size-base * 1);