/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$o9con-add: unicode(ea02);
$o9con-arrow-up: unicode(ea03);
$o9con-checkmark: unicode(ea04);
$o9con-arrow-right: unicode(ea05);
$o9con-arrow-down: unicode(ea06);
$o9con-full-screen: unicode(ea07);
$o9con-close: unicode(ea08);
$o9con-config-alt: unicode(ea09);
$o9con-logical-group: unicode(ea0a);
$o9con-menu: unicode(ea0b);
$o9con-minus: unicode(ea0c);
$o9con-omni-direction-alt: unicode(ea0d);
$o9con-arrow-left: unicode(ea0e);
$o9con-lead-time: unicode(ea0f);
$o9con-label: unicode(ea10);
$o9con-priority: unicode(ea11);
$o9con-search: unicode(ea12);
$o9con-loader: unicode(ea13);

.o9con-add::before {
  content: $o9con-add;
}

.o9con-arrow-up::before {
  content: $o9con-arrow-up;
}

.o9con-checkmark::before {
  content: $o9con-checkmark;
}

.o9con-arrow-right::before {
  content: $o9con-arrow-right;
}

.o9con-arrow-down::before {
  content: $o9con-arrow-down;
}

.o9con-full-screen::before {
  content: $o9con-full-screen;
}

.o9con-close::before {
  content: $o9con-close;
}

.o9con-config-alt::before {
  content: $o9con-config-alt;
}

.o9con-logical-group::before {
  content: $o9con-logical-group;
}

.o9con-menu::before {
  content: $o9con-menu;
}

.o9con-minus::before {
  content: $o9con-minus;
}

.o9con-omni-direction-alt::before {
  content: $o9con-omni-direction-alt;
}

.o9con-arrow-left::before {
  content: $o9con-arrow-left;
}

.o9con-lead-time::before {
  content: $o9con-lead-time;
}

.o9con-label::before {
  content: $o9con-label;
}

.o9con-priority::before {
  content: $o9con-priority;
}

.o9con-search::before {
  content: $o9con-search;
}

.o9con-loader::before {
  content: $o9con-loader;
}